<div class="col-12">
    Step <br>
	<textarea name="recipeStep" form="recipeStep" rows="4" cols="50"></textarea>
	<form action="/test.php" method="post" id="recipeStep">
		<button type="submit" name="addStep"> Add Step </button>
	</form>
	<br>
</div>