<div class="col-12">
    <form action="test.php" method="post">
        <label for="image">Image</label>
        <input type="file" name="imagePath">
        <input type="text" name="imageTitle">
        <button type="submit" name="addImage">Add Image</button>
        <br>
    </form>
</div>