<div class="col-12">
    <form action="test.php" method="post" id="recipeText">
        <label for=ingredient>Ingredient</label>
        <input type="text" id="ingredient" name="ingredient"> 
        <label for=amount>Amount</label>
        <input type="text" id="amount" name="amount">
        <button type="submit" name="addIngredient"> Add Ingredient </button>
        <br>
    </form>
</div>