<div class="col-12">
    Text <br>
	<textarea name="recipeText" form="recipeText" rows="4" cols="50"></textarea>
	<form action="/test.php" method="post" id="recipeText">
		<button type="submit" name="addrecipeText"> Add Text </button>
	</form>
	<br>
</div>
