<div class="col-12">
    <form action="test.php" method="post">
        <label for=recipeName>recipe name</label>
        <input type="text" id="recipeName" name="recipeName">
        <button type="submit" name="newrecipe"> New recipe </button>
    </form>
    <br>
</div>