<div class="col-2">
    {% for recipe in recipes %}  
        <!-- image -->
        <!-- recipeText -->
        <a href="/myRecipes.php?recipe={{recipe.ID}}">{{recipe.recipeName}}</a> <br>
    {% endfor %}
</div>