<div class="col-12">
    <form method="post">
        <input type="submit" name="image" class="button" value="Image" />
        <input type="submit" name="ingredient" class="button" value="Ingredient" />
        <input type="submit" name="step" class="button" value="Step" />
        <input type="submit" name="text" class="button" value="Text" />
    </form>
</div>