<div class="col-2"> 
    {% for index in recipes %}
        Tøys
        
    {% endfor %}
</div>

{% for i in 0..2 %}
    {% for recipe in recipes %}  
            Tull
            <!-- image -->
            <!-- recipeText -->
            {{recipe[i].ID}} {{recipe[i].recipeName}}
        {% endfor %}
{% endfor %}