<div class="col-12">
    <form action="test.php" method="post">
        <label for=recipieName>Recipie name</label>
        <input type="text" id="recipieName" name="recipieName">
        <button type="submit" name="newRecipie"> New Recipie </button>
    </form>
    <br>
</div>