<div class="col-12">
    Step <br>
	<textarea name="recipieStep" form="recipieStep" rows="4" cols="50"></textarea>
	<form action="/test.php" method="post" id="recipieStep">
		<input type="submit">
	</form>
</div>