<div>
    <form action="test.php" method="post">
        <label for=recipieName>Recipie name</label> <br>
        <input type="text" id="recipieName" name="recipieName"> <br>
        <input type="submit">
    </form>
</div>