<div class="col-12">
    Text <br>
	<textarea name="recipieText" form="recipieText" rows="4" cols="50"></textarea>
	<form action="/test.php" method="post" id="recipieText">
		<button type="submit" name="addRecipieText"> Add Text </button>
	</form>
	<br>
</div>
