<div class="col-12">
    <form action="test.php" method="post" id="recipieText">
        <label for=ingredient>Ingredient</label>
        <input type="text" id="ingredient" name="ingredient"> <br>
        <label for=amount>Amount</label>
        <input type="text" id="amount" name="amount"> <br>
        <input type="submit">
    </form>
</div>