{% for recipie in recipies %}
    <div>
        <p>{{recipie.recipieName}}</p>
        <!-- image -->
        <!-- recipieText -->
        <a href="/gettest.php?recipie={{recipie.ID}}">{{recipie.recipieName}}</a>
    </div>
{% endfor %}