<div class="col-2">
    {% for recipie in recipies %}  
        <!-- image -->
        <!-- recipieText -->
        <a href="/index.php?recipie={{recipie.ID}}">{{recipie.recipieName}}</a> <br>
    {% endfor %}
</div>