<div class="col-12">
    <form action="test.php" method="post" id="userSignup">
        <label for=userName> First Name</label>
        <input type="text"  name="firstName" placeholder="First Name"> 
        <label for=userName> Last Name</label>
        <input type="text" name="lastName" placeholder="Last Name"> 
        <br>
        <label for=userName> E-Mail</label>
        <input type="text" name="userMail" placeholder="e-mail">         
        <br>
        <label for=password>Password</label>
        <input type="password" name="password" placeholder="password">
        <label for=password2> Retype Password</label>
        <input type="password" name="password2" placeholder="password">
        <br>
        <button type="submit" name="createNewUser"> Create New User </button>
        <button type="reset" name="abortCreatingNewUser">Cancel</button>
    </form>
    <br>
</div>