<div class="col-12">
    <form action="index.php" method="post" id="userLogin">
        <label for="userName"> User Name</label>
        <input type="text" name="userName" placeholder="E-Mail"> 
        <label for="password">Password</label>
        <input type="password" name="userPassword" placeholder="Password">
        <button type="submit" name="login"> Logg Inn </button>
    </form>
    <a href="newUser.php">New User</a>
    <br>
</div>