<div class="col-12">
    <br>
    <a href="myRecipes.php">My recipes</a>
    <br>
    <a href="newRecipe.php">New recipe</a>
    <br>

    <form action="index.php" method="post">
        <button type="submit" name="signOut"> Sign Out </button>
    </form>
</div>